{% extends 'base.html.twig' %}
  {% block body %}
      <!-- ...:::: Start Breadcrumb Section:::... -->
      <div class="breadcrumb-section">
          <div class="breadcrumb-wrapper">
              <div class="container">
                  <div class="row">
                      <div class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                          <h3 class="breadcrumb-title">Category </h3>
                      </div>
                  </div>
              </div>
          </div>
      </div> <!-- ...:::: End Breadcrumb Section:::... -->
      <div class="container">
          <div class="row ">
              <div class="col-12">

                  <div class="blog-full-width-wrapper">
                      <div class="row">

                          <div class="col-lg-4 col-md-6 col-12">
                              <!-- Start Blog Grid Single -->
                              <div class="blog-feed-single">
                                  <a href="blog-single-sidebar-left.html" class="blog-feed-img-link">
                                      <img src="assets/images/blog_images/aments_blog_01.jpg" alt=""
                                           class="blog-feed-img">
                                  </a>
                                  <div class="blog-feed-content">
                                      <div class="blog-feed-post-meta">
                                          <span>By:</span>
                                          <a href="" class="blog-feed-post-meta-author">Admin</a> -
                                          <a href="" class="blog-feed-post-meta-date">Sep 14, 2020</a>
                                      </div>
                                      <h5 class="blog-feed-link"><a href="blog-single-sidebar-left.html">Lorem ipsum
                                              dolor amet cons adipisicing elit</a></h5>
                                  </div>
                              </div>
                              <!-- End Blog Grid Single -->
                          </div>

                      </div>

                      <!-- Start Pagination -->
                      <div class="page-pagination text-center">
                          <ul>
                              <li><a href="#">Previous</a></li>
                              <li><a class="active" href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">Next</a></li>
                          </ul>
                      </div> <!-- End Pagination -->
                  </div>
              </div>
          </div>
  {% endblock %}